<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>News</Name>
  <Alias>News</Alias>
  <Design><![CDATA[@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Main
{
	<header>
        <h1>@Model.Titel</h1>
        <i>- @Model.PublishDate.ToShortDateString() - @Model.Intro</i>
		u: @Model.UpdateDate
    </header>
	<section>
	</section>
}
]]></Design>
</Template>