<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<MediaType>
  <Info>
    <Name>Sized</Name>
    <Alias>Sized</Alias>
    <Icon>icon-folder</Icon>
    <Thumbnail>icon-folder</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Type>556d6272-6163-6f2e-496d-61676543726f</Type>
      <Definition>1df9f033-e6d4-451f-b8d2-e0cbc50a836f</Definition>
      <Tab>
      </Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</MediaType>