@using Example.Implementation.ViewModels
@using Muffin.Core
@using Muffin.Core.Models
@inherits UmbracoViewPage<Example.Implementation.ViewModels.Content>
@using Muffin.Mvc
@*@{
	Layout = "~/Views/Shared/_layout.cshtml";
}*@



<header>
    <h1>@Model.Title</h1>
</header>
