@inherits UmbracoViewPage<Muffin.Core.ViewModels.IContentViewModel<Umbraco.Web.PublishedContentModels.Content>>
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Main
{
	<header>
        <h1>@Model.Content.Titel</h1>
        <i>- @Model.Content.PublishDate.ToShortDateString() - @Model.Content.Intro</i>
		u: @Model.Content.UpdateDate
    </header>
	<section>
	</section>
}
