<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Container</Name>
    <Alias>Container</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>ContainerBase</Master>
    <Compositions>
      <Composition>ContainerBase</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Container</Template>
    </AllowedTemplates>
    <DefaultTemplate>Container</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>CarrouselItem</DocumentType>
    <DocumentType>PersonItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>