<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Person</name>
  <alias>Person</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/Person.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>True</cacheByPage>
  <properties>
    <property name="Person" alias="Person" sortOrder="0" propertyType="Umbraco.ContentPickerAlias" />
  </properties>
</macro>