<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Listing</Name>
    <Alias>Listing</Alias>
    <Icon>icon-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Base</Master>
    <Compositions>
      <Composition>Base</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>Listing</Template>
    </AllowedTemplates>
    <DefaultTemplate>Listing</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>Content</DocumentType>
    <DocumentType>CarrouselItem</DocumentType>
    <DocumentType>PersonItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>